@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@import "vue-toast-notification/dist/theme-sugar.css";

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  /* Hide scrollbar for all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.v-toast__item--success {
  background-color: var(--color-emerald-500) !important;
}
